<div class="form-wrapper">
    <form [formGroup]="searchForm" class="search-form">
        <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>Find books...</mat-label>
            <input matInput formControlName="query">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <h4>Search Type</h4>
        <mat-form-field>
        <mat-label>Types</mat-label>
        <select matNativeControl formControlName="searchType" (ngModelChange)="onChange($event)">
            <option value="fullText">Full Text</option>
            <option value="vector">Vector</option>
        </select>
        </mat-form-field>
    </form>
</div>